*.bin
*.vsidx
WriteHeartHub/.vs/WriteHeartHub/v17/.suo
WriteHeartHub/Application/obj/project.assets.json
WriteHeartHub/.vs/WriteHeartHub/v17/.futdcache.v2
WriteHeartHub/.vs/WriteHeartHub/v17/DocumentLayout.json
WriteHeartHub/.vs/WriteHeartHub/DesignTimeBuild/.dtbcache.v2
